.brands {
  margin: 2rem auto;
  background-color: #dfdfdf;
  padding: 2.5rem;
}

.slick-slide img {
  margin: 0 auto;
}

.brands__imageContainer {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
