.homeItems {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.homeItemsWrapper{
    display: flex;
    justify-content: space-around;
    width: 48%;
}

.homeItem {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.homeItem svg {
  font-size: 3rem;
  color: #e00000;
}

.homeItem p {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.homeItem span {
  font-size: 0.9rem;
}


@media (max-width: 800px) {
    .homeItems {
        display: flex;
        flex-direction: column;
    }
    .homeItemsWrapper{
        display: flex;
        width: 90%;
    }
    
    .homeItem{
        transform: scale(.9);
        margin-top: 1rem;
    }
}

@media (max-width: 500px) {
    .homeItemsWrapper{
        width: 100%;
    }
    .homeItem{
        transform: scale(.8);
    }
}
