.laptopsBanner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 65%;
  border-radius: 2.5rem;
  background: linear-gradient(320deg, #fc7b54, #f1a870);
  color: white;
  padding: 30px;
  margin: 2rem auto;
}

.laptopsBanner img {
  width: 400px;
  height: auto;
}

.laptopsBanner h3 {
  font-size: 30px;
  font-weight: bold;
}

.laptopsBanner p {
  text-align: center;
  margin: 0 100px 10px;
}

.laptopsBanner button {
  border: 2px solid #fff;
  border-radius: 0.8rem;
  padding: 0.5rem 1rem;
  background: none;
  outline: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  transition: 0.4s all;
  cursor: pointer;
}



.laptopsBanner button:hover {
  transform: scale(1.1);
}
